* {
    box-sizing: border-box;
}
:root{
   --form--margin-left: 15em;
}
html,body{
    height:100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #C0D6DF;
}

.container{
    margin-top: -0.5em;
    background-color: whitesmoke;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container h1 {
    text-align: center;
}

.container main {
    display: inline-block;
    margin-top: 20px;
    margin-left: 3em;
    min-height: 100%;
    width: 100%;
}
.container main img{
     width: 100%;
}
form{
    display: inline-block;
    width: 15em;
}
.formulario {
    height: 20em;
    background: #DAF5FF;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: var(--form--margin-left);
    padding: 20px;
    border-radius: 3px;
}
.fixed {
    float: left;
    margin-right: -9em;
}

.formulario h4 {
    text-align: center;

}
.formulario textarea {
    width: 100%;
    font-size: 1rem;
    word-wrap: break-word;
    resize: none;

}
.datosformulario {
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 0.5px solid black;
}
.submit {
    width: 100%;
    border: 1px solid black;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}
.comentario {
    margin-left: var(--form--margin-left);
    width: 36em;
    height: 15em;
    text-align: center;
}
.comentario input{
    text-align: center;
}
.comentario .datosformulario{
    height: 1em;
    padding: 0.6em;
    font-size: 0.8em;
}

aside{
    float: right;
    width: 20%;
    margin-top: 5em;
}
aside ul{
    list-style: none;
}

aside div ul li {
    margin-top: 1em;
    margin-left: 3em;
}

@media (max-width: 1000px) {
        aside {
            width: 80%;
        }
        aside {
            margin-top: 0;
            width: 80%;
        }
        aside h4 {
            display: none;
        }
        aside li{
            display: inline;
        }
        .asider div {
            display: inline;
        }
        .asider img {
            width: 2em;
        }
    }
    @media (max-width: 800px) {
        body {
            background-color: whitesmoke;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        main div img{
            width: 5em;
        }
    
        .formulario{
            width: 10em;
            height: 11.5em;
            font-size: 2em;
            margin-left: 10% ;
        }
        .datosformulario {
            width: 100%;
            height: 0.5em;
            font-size: 1rem;
            padding: 1em;
            border: 0.5px solid black;
            text-align: center;
        }
        .datosformulario textarea {
            width: 100%;
            height: 1em;
            font-size: 1rem;
            padding: 1em;
            border: 0.5px solid black;
        }
         h3 {
             text-align: center;
            font-size: 1rem;
 
        }
        .comentario{
            height: 6em;
        }
    }

    @media (max-width: 425px) {
        body {
            background-color: whitesmoke;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            margin-left: -2em;
        }
        .formulario{
            width: 10em;
            height: 11.5em;
            font-size: 2em;
            margin-left: 2em ;
        }
        .datosformulario {
            width: 100%;
            height: 0.5em;
            font-size: 1rem;
            padding: 1em;
            border: 0.5px solid black;
            text-align: center;
        }
        .datosformulario textarea {
            width: 100%;
            height: 1em;
            font-size: 1rem;
            padding: 1em;
            border: 0.5px solid black;
        }
         h3 {
             text-align: center;
            font-size: 1rem;
 
        }
        .comentario{
            height: 6em;
    
        }
        header nav .container {

            font-size: 0.6rem;
        }
        main div img{
            width: 5em;
        }
        
    }