html,body{
    height:100%;
    padding: 0;
    margin: 0;
}
body {
    background: #C0D6DF;
}

.container{
    margin-top: 0;
    background-color: whitesmoke;
    min-height: 100%;
    max-width: 1000px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.container h1 {
    text-align: center;
}
.menu{
    background: blanchedalmond;
    border: 1px solid black;
    margin-left: 20px;
    padding: 5px;
    display: inline-block;
    
}
.menu li {
    display: inline-block;
   
}
.menu li a {
    font-size: 15px;
    text-decoration: none;
}
.menu li a:visited {
    color: black;
    text-decoration: none;
}
.menu li a:link {
    color: black;
    text-decoration: none;
}
form{
    display: inline-block;
    width: 30%;
}
.formulario {
    background: blanchedalmond;
    border: 1px solid black;
    margin: 20px;
    margin-left: 15em;
    padding: 20px;
    border-radius: 3px;
}
.formulario h4 {
    text-align: center;

}
.formulario textarea {
    width: 95%;
    white-space: nowrap;
    resize: none;

}
.datosformulario {
    width: 90%;
    padding: 3px 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 0.5px solid black;
}
.submit {
    width: 100%;
    border: 1px solid black;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

aside{
    float: right;
    width: 20%;
}
aside ul{
    list-style: none;
}